<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="CottaConnection" connectionString="Server=serverpc\HEFTY_INSTANCE, 1112;Database=psiHefty_db;User Id=sa;Password=qt3chbs!;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>